absl-py~=0.10
addict
networkx
tensorflow==2.4.0
tensorflow_datasets==4.1.0
tensorflow_addons
tensorflow_hub
texttable
pycocotools
opencv-python
pytest
pytest-mock
pytest-dependency
jsonschema==3.2.0
yattag>=1.14.0
prettytable>=2.0.0
